{% extends "template.html" %}
{% block title %} Signup {% endblock %}
{% block content %} 

<form method="POST">
    <h3 align="center">Signup</h3>
<div class="form-group">
    <label for="email">Email Address</label>
    <input
    type="email"
    class="form-control"
    id="email"
    name="email"
    placeholder="Enter email"
    />
<br/>
<div class="form-group">
    <label for="firstName">First Name</label>
    <input
    type="text"
    class="form-control"
    id="firstName"
    name="firstName"
    placeholder="Enter First Name"
    />
</div>
